.mainchat
  .mainchat__header
    .mainchat__header__messageBox
      = @group.name
    .mainchat__header__editbtn
      = link_to edit_group_path(@group.id) do
        Edit
    .mainchat__header__menberName
      Member:
      - @group.users.each do |user|
        = user.name 

  .mainchat__chatScreen
    = render @messages
    
  .mainchat__chatText
    .mainchat__chatText__form
      = form_with model: [@group, @message], html: {class: "chatText__form"}, local: true do |f|
        .mainchat__chatText__form__textArea
          = f.text_field :content, class: 'chatText__form__textArea', placeholder: 'type a message'
          = f.label :image, class: 'chatText__form__textArea' do

            = icon('far', 'image', class: 'form__textArea__addimage')
            = f.file_field :image, class: 'input'
            
        .mainchat__chatText__form__sendbtn
          = f.submit 'Send', class: '__sendbtn'



  